In [10]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay

In [1]:
import seaborn as sns

In [11]:
dtypes = {
    'CustomerId': 'int64',
    'Churn': 'int64',
    'Tenure': 'float64',
    'PreferredLoginDevice': 'object',
    'CityTier': 'int64',
    'WarehouseToHome': 'float64',
    'PreferredPaymentMode': 'object',
    'Gender': 'object',
    'HourSpendOnApp': 'float64',
    'NumberOfDeviceRegistered': 'int64',
    'PreferedOrderCat': 'object',
    'SatisfactionScore': 'int64',
    'MaritalStatus': 'object',
    'NumberOfAddress': 'int64',
    'Complain': 'int64',
    'OrderAmountHikeFromlastYear': 'float64',
    'CouponUsed': 'float64',
    'OrderCount': 'float64',
    'DaySinceLastOrder': 'float64',
    'CashbackAmount': 'float64'
}

In [12]:
# Load the Excel file
excel_file = 'e-commerce/e-commerce-dataset.xlsx'
sheet_name = 'data'  # Replace with the name of the sheet you want to convert

# Read the specific sheet into a DataFrame
df = pd.read_excel(excel_file, sheet_name=sheet_name,dtype= dtypes)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [14]:


# Convert the DataFrame to a CSV file
csv_file = 'e-commerce/e-commerce-dataset.csv'
df.to_csv(csv_file, index=False)

In [16]:
df2  = pd.read_csv('e-commerce/e-commerce-dataset.csv')

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB